@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import 'leaflet/dist/leaflet.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  display: none;
  /* For IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mainCard {
  position: absolute;
  top: 20%;
  left: 10%;

}

.btmBorder {
  padding-bottom: 20px;
  border-bottom: .3rem solid;

}

:root {
  font-family: 'poppins', sans-serif;
}

.hoverBack:hover {
  background-color: rgb(255, 255, 255);
  @apply shadow-lg
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
  margin-bottom: 2rem;
}

.instructions>svg {
  margin-right: 0.25rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}


input[type="text"],
input[type="password"],
input::-webkit-input-placeholder {
  font-size: medium;
}

button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  padding: 0.30rem;
  border-radius: 0.5rem;
}



button {
  padding: 0.5rem;
}